//提供项目scss全局变量

//定义自定义yanse

//左侧菜单宽度
$base-menu-width: 200px;
// 左侧菜单背景颜色
$base-menu-backgroun: #001529;
//顶部导航高度
$base-tabbar-height: 50px;
// logo 高度
$base-menu-logo-height: 50px;
// logo文字大小
$base-logo-title-fontSize: 20px;
